@import "./base/varibale.scss";
@import "./base/breakPoint.scss";

.wrapper {
  padding: 0.5em 0;
  border-top: 1px solid;

  @include themify {
    border-color: getThemeValue("border");
  }

  @include md {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50px);
  opacity: 0;
  transition: all 1s ease-in;
  // flex-direction: column;

  &.spotifyActive {
    transform: translateX(0px);
    opacity: 1;
  }

  & > a {
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    filter: invert(1);

    audio {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }

    @include themify {
      border-color: getThemeValue("text-secondary");
    }
  }

  & > p {
    font-size: 0.5rem;
    margin: 0 10px;
    color: $primary-text;

    @include sm {
      font-size: smaller;
    }
  }

  & > div {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;

    p {
      display: block;
      width: max-content;
      animation: scrollInfinity 7s linear infinite;

      span {
        display: inline-block;
        margin-left: 0.5em;
      }

      @keyframes scrollInfinity {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translateX(-50%);
        }
      }
    }

    @include md {
      max-width: 200px;
    }
  }

  @include sm {
    flex-direction: row;
  }
}

.designCredit {
  text-align: center;
  padding: 1em 0;
  font-size: small;

  small {
    filter: invert(1);
    font-size: inherit;
  }

  a {
    text-decoration: none;
    color: $primary-text;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
