@import "./base/varibale.scss";
@import "./base/breakPoint.scss";

body,
html {
  font-family: $font-primary;
  margin: 0;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.themes.theme-default {
  background-color: black;
}
.themes.theme-light {
  background-color: white;
}

.appTheme {
  position: relative;
  z-index: 2;
  overflow: clip;

  .waveWrapper {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 5;
    transform-origin: center bottom;
    mix-blend-mode: difference;
    pointer-events: none !important;
    transform: scaleY(1.5);
    overflow: clip;

    .wave {
      background-repeat: repeat-x;
      position: absolute;
      bottom: 0px;
      width: 6400px;
      width: calc(1600px * 4);
      height: 198px;
      animation: sinWave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
      transform-origin: center center;

      @include themifyGlobal {
        background: getThemeValue("wave-img");
      }
    }

    .wave:nth-of-type(2) {
      animation: sinWave 6900ms cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
      opacity: 0.1;
    }

    @keyframes sinWave {
      // 0% {
      //   margin-left: 0;
      // }
      // 100% {
      //   margin-left: -1600px;
      // }
      0% {
        margin-left: 0;
        transform: scaleY(1.2);
      }
      25% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(0.98);
      }
      75% {
        transform: scaleY(1.18);
      }
      100% {
        transform: scaleY(1.2);
        margin-left: -1600px;
      }
    }

    @keyframes swell {
      0%,
      100% {
        transform: translate3d(0, -25px, 0);
      }
      50% {
        transform: translate3d(0, 5px, 0);
      }
    }

    @include md {
      transform: scaleY(1);
      height: 13%;
    }
  }

  @include themifyGlobal($themes) {
    background-color: getThemeValue("bg-transparent");
    color: getThemeValue("text");
    border-color: getThemeValue("border");
  }
}

.webgl_canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}
