@import "./base/varibale.scss";
@import "./base/breakPoint.scss";

.wrapper {
  margin-bottom: 2em;
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.aside {
  display: none;

  & > a {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    .asideNavIcons {
      position: relative;
      left: 0;
      opacity: 0;
    }

    h2 {
      transform: translateX(-50px);
    }

    @include themify {
      color: getThemeValue("text");
    }
  }

  @include md {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 10em;
    position: sticky;
    top: 10em;
    height: fit-content;
  }
}

.main {
  padding: 0px 1.5em;
  padding-top: 5em;
  position: relative;

  @include md {
    padding: 0px 2em;
  }
}

.about {
  h1 {
    text-transform: capitalize;
    font-size: 2rem;
  }
  fieldset {
    border: 3px solid;
    border-radius: 7px;

    legend {
      font-weight: 700;
      border: 3px solid;
      padding: 0.5em;
      border-radius: 7px;

      @include themify {
        border-color: getThemeValue("border");
      }
    }

    p {
      color: $primary-text;
    }

    @include themify {
      border-color: getThemeValue("border");
    }
  }

  & > button {
    width: 100%;
    height: 0px;
    font-weight: bold;
    display: block;
    transform-origin: top center;
    padding: 0;
    cursor: pointer;

    @include themify {
      background-color: getThemeValue("bg-invert");
      color: getThemeValue("text-invert");
    }
  }

  .cvSumary {
    margin-top: 2em;
    border: 3px solid;
    padding: 1em;
    overflow: hidden;

    .cvSummaryContent {
      position: relative;
      left: -500px;
      transform: scale(2.5);
    }

    & p,
    & ul {
      color: $primary-text;
    }

    @include themify {
      background-color: getThemeValue("bg-lighten");
      border-color: getThemeValue("border");
    }
  }
}

.works {
  .worksProjects {
    ul {
      color: $primary-text;
      padding: 0;
      li {
        list-style: none;
        border-bottom: 1px solid;
        margin-bottom: 2em;
        cursor: pointer;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          font-weight: lighter;

          &:hover {
            transform: scale(0.9);
          }

          & > p {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span:nth-child(2) {
              margin-left: 1em;
              font-size: 1.3rem;
            }
          }
          & > span {
            display: inline-block;
            width: 15px;
            height: 15px;
          }

          @include themify {
            color: getThemeValue("text");
          }
        }

        @include themify {
          border-color: getThemeValue("border");
        }
      }
    }
  }
}

.contact {
  margin-top: 7em;
  margin-bottom: 1em;
  text-align: center;

  & > p {
    color: $primary-text;
    font-size: small;
  }
  & > button {
    border: 3px solid;
    font-size: 1.1rem;
    padding: 0.5em 0.8em;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: 400;
    color: $primary-text;

    @include themify {
      border-color: getThemeValue("border");
      background-color: inherit;
    }
  }

  & > fieldset {
    margin-top: 2em;
    border: none;
    border-top: 2px solid;

    legend {
      border: 2px solid;
      padding: 0.5em 0.7em;
      border-radius: 5px;
      font-size: small;
      font-weight: 600;

      @include themify {
        border-color: getThemeValue("border");
      }
    }
    @include themify {
      border-color: getThemeValue("border");
    }
  }

  & > .contactSocialIcons {
    display: flex;
    justify-content: center;

    & > span {
      margin: 0 1em;
      border: 4px solid;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateX(-50px);

        @include themify {
          background-color: getThemeValue("bg");
        }
      }

      &:hover {
        @include themify {
          fill: getThemeValue("text-invert");
        }
      }

      &:hover::before {
        transform: translateX(0px);
        @include themify {
          background-color: getThemeValue("bg-invert");
        }
      }

      @include themify {
        border-color: getThemeValue("border");
        fill: getThemeValue("text");
      }
    }
  }
}
