@import "./base/varibale.scss";
@import "./base/breakPoint.scss";

.wrapper {
  height: 100%;
}

.container {
  margin-bottom: 2em;
  overflow-x: clip;
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.aside {
  display: none;

  & nav {
    width: fit-content;
  }

  & nav > div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    .asideNavIcons {
      position: relative;
      left: 0;
      opacity: 0;
    }

    h2 {
      transform: translateX(-50px);
      opacity: 0.3;
    }

    @include themify {
      color: getThemeValue("text");
    }
  }

  .asideSocials {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    width: fit-content;

    & > a {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
      border: 4px solid;
      padding: 8px 15px;
      border-radius: 30px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      cursor: pointer;
      text-decoration: none;
      color: inherit;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateX(-110%);

        @include themify {
          background-color: getThemeValue("bg");
        }
      }

      &:hover {
        @include themify {
          fill: getThemeValue("text-invert");
          color: getThemeValue("text-invert");
        }
      }

      &:hover::before {
        transform: translateX(0px);
        @include themify {
          background-color: getThemeValue("bg-invert");
        }
      }

      @include themify {
        border-color: getThemeValue("border");
        fill: getThemeValue("text");
      }
    }

    @include lg {
      grid-template-columns: auto auto auto;
    }
  }

  @include md {
    display: flex;
    flex-direction: column;
    padding: 0 $padding-web;
    position: sticky;
    top: 10em;
    height: fit-content;
  }
}

.main {
  padding: 0px 1.5em;
  padding-top: $padding-mobile;
  position: relative;

  @include md {
    padding-right: $padding-web;
  }
}

.about {
  h1 {
    text-transform: capitalize;
    font-size: 2rem;
  }
  fieldset {
    border: 3px solid;
    border-radius: 7px;

    legend {
      font-weight: 700;
      border: 3px solid;
      padding: 0.5em;
      border-radius: 7px;

      @include themify {
        border-color: getThemeValue("border");
      }
    }

    p {
      color: $primary-text;
      font-family: $font-secondary;
    }

    @include themify {
      border-color: getThemeValue("border");
    }
  }

  & > a {
    width: 100%;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
    text-align: center;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    font-family: $font-secondary;

    @include themify {
      background-color: getThemeValue("border");
      color: getThemeValue("text");
    }
  }

  .cvSumary {
    margin-top: 2em;
    border: 3px solid;
    border-bottom: none;
    padding: 1em;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .cvSummaryContent {
      position: relative;
      left: -500px;
      transform: scale(2.5);
      opacity: 0;
    }

    & p,
    & ul {
      color: $primary-text;
      font-family: $font-secondary;
    }

    @include themify {
      border-color: getThemeValue("border");
    }
  }
}

.works {
  margin-top: 15em;
  .worksProjects {
    ul {
      color: $primary-text;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 2em;
        cursor: pointer;

        > .projectTag {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          font-weight: lighter;
          font-size: 0.5rem;
          padding-bottom: 2em;
          border-bottom: 1px solid;

          &:hover {
            transform: scale(0.9);
          }

          & > p {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span:nth-child(2) {
              margin-left: 1em;
              font-size: 1.3rem;
            }
          }
          & > span {
            display: inline-block;
            width: 15px;
            height: 15px;
          }

          @include themify {
            color: getThemeValue("text");
            border-color: getThemeValue("border");
          }
        }

        > .projectContent {
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          height: 0;
          font-family: $font-secondary;

          .projectContentImg {
            position: relative;
            span {
              width: 100%;
              height: 200px;
              display: block;
              position: relative;
            }

            span:nth-child(1) {
              filter: grayscale(100%);
            }
            .projectContentImgOverlay {
              position: absolute;
              top: 0;
              filter: grayscale(0%);
              z-index: 2;
              clip-path: circle(0% at 0% 0%);

              svg {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
              }
            }
          }

          p:nth-of-type(2) {
            text-transform: uppercase;

            span:nth-child(1) {
              padding: 0.1em 0.5em;
              color: white;
              margin: 0.5em;
            }
          }

          .projectContentLinks {
            display: grid;
            grid-template-columns: auto auto auto;
            width: fit-content;
            column-gap: 30px;
            height: fit-content;

            a {
              display: grid;
              grid-template-columns: auto auto;
              width: fit-content;
              column-gap: 20px;
              text-decoration: none;
              color: inherit;
              height: fit-content;
              position: relative;
              padding-bottom: 0.5em;
              align-items: center;

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                border-radius: 5px;
                bottom: -2px;
                transform-origin: left center;
                transform: scaleX(0);
                transition: all 10ms ease-out;

                @include themify {
                  background-color: getThemeValue("bg-invert");
                }
              }

              &:hover::after {
                transform: scaleX(1);
              }

              span {
                height: fit-content;
              }

              span:nth-of-type(2) {
                display: inline-block;
                width: 15px;
                height: 15px;
              }

              @include themify {
                border-color: getThemeValue("bg-invert");
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  margin-top: 15em;
  margin-bottom: 1em;
  text-align: center;

  & > p {
    color: $primary-text;
    font-size: small;
    font-family: $font-secondary;
  }
  & > button {
    border: 3px solid;
    font-size: 1.1rem;
    padding: 0.5em 0.8em;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: 400;
    color: $primary-text;
    font-family: $font-secondary;

    @include themify {
      border-color: getThemeValue("border");
      background-color: inherit;
    }
  }

  & > fieldset {
    margin-top: 2em;
    border: none;
    border-top: 2px solid;

    legend {
      border: 2px solid;
      padding: 0.5em 0.7em;
      border-radius: 5px;
      font-size: small;
      font-weight: 600;

      @include themify {
        border-color: getThemeValue("border");
        background-color: getThemeValue("bg");
      }
    }
    @include themify {
      border-color: getThemeValue("border");
    }

    @include md {
      display: none;
    }
  }

  & > .contactSocialIcons {
    display: flex;
    justify-content: center;

    & > a {
      margin: 0 1em;
      border: 4px solid;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateX(-50px);

        @include themify {
          background-color: getThemeValue("bg");
        }
      }

      &:hover {
        @include themify {
          fill: getThemeValue("text-invert");
        }
      }

      &:hover::before {
        transform: translateX(0px);
        @include themify {
          background-color: getThemeValue("bg-invert");
        }
      }

      @include themify {
        border-color: getThemeValue("border");
        fill: getThemeValue("text");
        background-color: getThemeValue("bg");
      }
    }
    @include md {
      display: none;
    }
  }
}
