@import "./base/varibale.scss";
@import "./base/breakPoint.scss";

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @include themify {
    // background-color: getThemeValue("bg");
    background-color: red;
    color: getThemeValue("text");
  }
}
